{{!-- EDIT PROJECT PAGE --}}
<div class="container">
  <div class="form-container p-4 shadow d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Edit Project</h1>
      <form action="/project/{{oneProjectToBeEdited._id}}/edit" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="projectName" class="form-label">Project Name:</label>
          <input type="text" id="projectName" name="projectName" value="{{oneProjectToBeEdited.projectName}}" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="projectDescription" class="form-label">Project Description:</label>
          <textarea id="projectDescription" name="projectDescription" class="form-control" required>{{oneProjectToBeEdited.projectDescription}}</textarea>
        </div>
        <div class="mb-3">
          <label for="projectLink" class="form-label">Project Link:</label>
          <input type="text" id="projectLink" name="projectLink" value="{{oneProjectToBeEdited.projectLink}}" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="githubLink" class="form-label">GitHub Link:</label>
          <input type="text" id="githubLink" name="githubLink" value="{{oneProjectToBeEdited.githubLink}}" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="projectPhoto" class="form-label">Project Photo:</label>
          <input type="file" id="projectPhoto" name="projectPhoto" class="form-control" value="{{oneProjectToBeEdited.projectPhoto}}">
        </div>
        <div class="text-center">
          <button class="btn btn-info" type="submit">Update Project</button>
        </div>
      </form>
    </div>
  </div>
</div>


