 <h1>Projects Details</h1>
<img src="{{projectPhoto}}" alt="{{projectName}} Cover Photo" width="300" height="200">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#collaborateModal">
  Collaborate
</button>
<div
  class="modal fade"
  id="collaborateModal"
  tabindex="-1"
  aria-labelledby="collaborateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collaborateModalLabel">
          Collaborate on '{{ projectName }}' Project
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="collaborationForm" action="collaborate" method="POST">
          <div class="mb-3">
            <label for="collaboratorName" class="form-label">Your Name</label>
            <input
              type="text"
              class="form-control"
              id="collaboratorName"
              name="collaboratorName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="githubUsername" class="form-label"
              >GitHub Username</label
            >
            <input
              type="text"
              class="form-control"
              id="githubUsername"
              name="githubUsername"
              required
            />
          </div>
          <div class="mb-3">
            <label for="collaborationMessage" class="form-label"
              >Reason for Collaboration</label
            >
            <textarea
              class="form-control"
              id="collaborationMessage"
              name="collaborationMessage"
              rows="4"
              required
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" form="collaborationForm" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>


{{!-- <button>Like</button> --}}
<form action="/project/{{_id}}/like" method = "POST">
<button> {{likes.length}} likes</button></form>

<h2>{{projectName}}</h2>
<p>Description:  <br>{{
projectDescription
}}</p>
<a href="{{projectLink}}">Project Link</a>
<a href="{{githubLink}}">Github Link</a>

  {{!-- for testing!! --}}
<h2>comments!</h2>
 {{#each comments}}
 {{commentBody}}
{{/each}}
<form action="/project/comment" method = "POST">
<input type="hidden" name = "projectId" value = {{_id}}>
<textarea name="commentBody" ></textarea>
<button>Add Comment</button>
</form>

  