 <h1>Projects Details</h1>
<img src="{{projectPhoto}}" alt="{{projectName}} Cover Photo" width="300" height="200">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#collaborateModal">
  Collaborate
</button>



<button>Like</button>

<h2>{{projectName}}</h2>
<p>Description:  <br>{{
projectDescription
}}</p>
<a href="{{projectLink}}">Project Link</a>
<a href="{{gitHubLink}}">Github Link</a>


  